<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank Studio</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/y.css') }}" rel="stylesheet" type="text/css">
  </head>

  <body background="{{ url_for('static', filename='main_page.jpg') }}">
    <div id="project">
      <button class="block">Start a Project</button>
    </div>
    <div class="solcial">
        <div><a id href="" ><img src="" /></a></div>
        <br>
        <div><a id href="" ><img src="" /></a></div>
        <br>
        <div><a id href="" ><img src="" /></a></div>
    </div>
    

    <!-- <a id href="" ><img src="{{ url_for('static', filename='brain.jpg') }}" /></a> -->

    <!-- <div id="br"></div>
    <img  src="{{ url_for('static', filename='main_page.jpg') }}" alt="Smiley face" >  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  </body>
</html>